# Environment variables
.env
.env.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/
dist/

# Database
*.db
*.sqlite
*.sqlite3

# Uploaded files
uploads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/